.main__productos {
  width: 95%;
  margin: 10 auto;
  .productos__h3 {
    @include titulos;
    text-align: center;
    margin: 2.5rem 0;
  }
  #productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 1297px) {
      justify-content: start;
    }
    @media screen and (max-width: 639px) {
      justify-content: space-evenly;
    }
    div {
      // margin: 0 auto;
      width: 16rem;
      background-color: $colorblue;
      padding: 1.5rem 1.5rem 0.5rem 1.5rem;
      border: 10px solid rgba(0, 0, 0, 0.111);
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
      &:hover {
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
      }
      img {
        border-radius: 5px;
      }
      .card-body {
        width: auto;
        text-align: center;
        border: none;
        box-shadow: none;
        h5 {
          color: $colorwhite;
          font-family: $font;
          margin-bottom: 20px;
        }
        div {
          border: none;
          margin: 0 -3rem;
          width: 167%;
         box-shadow: none;
         padding: 0;
          a {
            font-family: $font;
            width: 45%;
          }
        }
      }
    }
  }
}
