* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
//INDEX
@import "variables";
@import "header";
@import "bienvenida";
@import "productos";
@import "servicios";
@import "footer";
// PRODUCTOS
@import "htmlproductos";
//LA EMPRESA
@import "empresa";
/* Footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.footer__copy {
  margin-bottom: 0;
  color: black;
}

// PRODUCTOS HTML
.productos--lis {
  padding: 2% 0;
}

/* FORMULARIO-------------------------------------------------------------------------------------------------- */
.input__mensaje {
  min-height: 130px;
}

.formulario__h5 {
  text-align: center;
  font-family: $font;
  font-size: 1.5em;
}

.formulario__li {
  font-family: $font;
  font-size: 1em;
}

.formulario__p {
  @extend .formulario__li;
  background-color: pink;
  margin-left: -0.5em;
  margin-right: -0.5em;
}
.formulario__p_ {
  @extend .formulario__li;
}

.formulario__div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(35, 165, 217);
  border-radius: 5px;
}

.contacto__h3 {
  font-size: 1.5em;
  font-family: $font;
  text-align: center;
  margin-top: 30px;
}

.dudas__div__container {
  display: flex;
  justify-content: space-around;
}
/* dudas */
.dudas__p {
  margin-left: 1.5rem;
}

.dudas__h4 {
  font-size: 1.5em;
  font-family: $font;
  margin: 1em 0;
  color: rgb(35, 165, 217);
}

.dudas__li {
  font-size: 1.1em;
  font-family: $font;
}

@media screen and (max-width: 850px) {
  .dudas__div__container {
    flex-direction: column;
  }
}
.termicos--img {
  height: 100%;
  width: auto;
  border-radius: 20px;
}
/*  */
.whatsapp,
.question {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 22px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.question {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 90px;
  right: 10px;
  text-align: center;
  z-index: 200;
}

.img__question {
  width: 100%;
  height: 100%;
}

.whatsapp-icon {
  margin-top: 14px;
}

/* MEDIA QUERRIEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEES */
@media only screen and (max-width: 550px) {
  .conteiner__nav__h1 {
    padding-left: 0;
  }
}
@media only screen and (max-width: 550px) {
  .nav__h1 {
    height: 6vh;
  }
}
@media screen and (max-width: 830px) {
  #productos {
    background-color: rgb(35, 165, 217);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5vh;
  }
}
@media screen and (max-width: 830px) {
  .section__div__h3 {
    order: -10;
  }
}
@media screen and (max-width: 830px) {
  .section__div__img {
    height: 65%;
    justify-content: center;
  }
}
@media screen and (max-width: 830px) {
  .section__div__p {
    margin-bottom: 0;
    text-align: center;
    place-self: center;
  }
}
/* MEDIA SERVICIOS */

@media screen and (max-width: 830px) {
  .div__conteiner__logos {
    flex-direction: column;
    margin: 0;
  }
}
/* footer mobile */
@media screen and (max-width: 830px) {
  .footer__h2 {
    font-size: 1em;
    padding: 0;
  }
}
@media screen and (max-width: 830px) {
  .footer__telefonos,
  .footer__consulta,
  .footer__redes {
    padding: 1vh 0;
  }
}
@media screen and (max-width: 830px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 830px) {
  .telefonos__p {
    text-align: center;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 830px) {
  .footer__li {
    width: 25px;
    height: 30px;
    padding: 0 1vw;
  }
}
@media screen and (max-width: 830px) {
  .footer__div__img {
    margin-top: 3vh;
  }
}
