* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav__ {
  background-color: rgb(5, 5, 5);
}
.nav__ h1 {
  height: 7vh;
  margin-bottom: 0;
  padding-left: 1vw;
}
.nav__ h1:hover {
  transform: scale(1.03, 1.03);
}
.nav__ h1 img {
  width: 100%;
  height: 100%;
}
.nav__ button {
  background-color: white;
}
.nav__ .nav__contenedor__a {
  justify-content: end;
}
.nav__ .nav__contenedor__a li {
  padding: 0 3px;
}
.nav__ .nav__contenedor__a li #navlink {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
}
.nav__ .nav__contenedor__a li #navlink:hover {
  color: rgb(35, 165, 217);
}

header .background__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/portada.png);
  height: 90%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
header .background__header h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4.5em;
  padding-bottom: 5vh;
  color: rgb(245, 245, 245);
  opacity: 0.85;
}
@media screen and (max-width: 830px) {
  header .background__header .header__h3 {
    font-size: 1.8em;
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  .conteiner__nav {
    padding-left: 0;
  }
}
#bienvenida {
  padding: 5vh 20vw;
}
@media screen and (max-width: 800px) {
  #bienvenida {
    padding: 5vh 5vw;
  }
}
#bienvenida h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  color: rgb(35, 165, 217);
  padding-bottom: 4vh;
  text-align: center;
}
@media screen and (max-width: 830px) {
  #bienvenida .bienvenida__h2 {
    font-size: 1.1em;
  }
}
#bienvenida p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4;
}
@media screen and (max-width: 830px) {
  #bienvenida .bienvenida__p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 830px) {
  #bienvenida .header__h3 {
    font-size: 1.8em;
    text-align: center;
  }
}
@media screen and (max-width: 830px) {
  #bienvenida #bienvenida {
    padding: 5vh 3vw;
  }
}

#bienvefotos {
  display: flex;
  max-width: 100%;
}
#bienvefotos div {
  width: 25%;
}
#bienvefotos div img {
  width: 100%;
  height: 100%;
}

.productos__h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  color: rgb(35, 165, 217);
  text-align: center;
  margin: 2em 0 0 0;
}

@media screen and (max-width: 830px) {
  .productos__h2 {
    margin-top: 5vh;
  }
}
.carrusel__contenedor {
  margin: 1.5em 0 3em 0;
}
.carrusel__contenedor .container__productos {
  width: 70vw;
  margin: 2em auto;
}
.carrusel__contenedor .container__productos .productos__row {
  background-color: rgb(35, 165, 217);
  border-radius: 30px;
}
.carrusel__contenedor .container__productos .productos__row .productos__index__div__img {
  height: 400px;
  text-align: end;
}
.carrusel__contenedor .container__productos .productos__row .productos__index__div__img .productos__div__img {
  height: 100%;
  border-radius: 10px;
}
@media only screen and (max-width: 550px) {
  .carrusel__contenedor .container__productos .productos__row .productos__index__div__img {
    height: auto;
    text-align: center;
  }
}
.carrusel__contenedor .container__productos .productos__row .div__descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carrusel__contenedor .container__productos .productos__row .div__descripcion div p {
  color: rgb(245, 245, 245);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
}
.carrusel__contenedor .container__productos .productos__row .div__descripcion .productos__div__medidas {
  color: rgb(245, 245, 245);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1em;
}
@media only screen and (max-width: 850px) {
  .carrusel__contenedor .container__productos .productos__row .div__descripcion .productos__div__medidas {
    display: none;
  }
}
.carrusel__contenedor .container__productos .productos__row .productos__div__solicitar {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
}
@media only screen and (max-width: 550px) {
  .carrusel__contenedor .container__productos .productos__div__img {
    width: 90%;
  }
}
@media only screen and (max-width: 850px) {
  .carrusel__contenedor .container__productos {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
  }
}

.carrusel__bottom {
  background-color: rgb(124, 124, 124);
  opacity: 0.7;
  border-radius: 20px;
  padding: 1.35em;
}

#servicios {
  background-image: url(../imagenes/fondo-servicios.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  background-position: center;
}
#servicios h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.2em;
  padding-bottom: 4vh;
  color: rgb(252, 252, 252);
  padding-top: 2.7%;
  text-align: center;
}
#servicios .div__conteiner__logos {
  display: flex;
  text-align: center;
  margin: 0 12%;
}
@media screen and (max-width: 830px) {
  #servicios .div__conteiner__logos {
    flex-direction: column;
    margin: 0;
  }
}
#servicios .div__conteiner__logos .div__img {
  padding: 10% 0;
  font-family: none;
}
#servicios .div__conteiner__logos .div__img .servicios__img {
  width: 40%;
  padding: 10%;
  background-color: rgba(35, 165, 217, 0.795);
  border-radius: 10px;
}
#servicios .div__conteiner__logos .div__img .servicios__h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  padding-top: 3vh;
  color: rgb(252, 252, 252);
}
#servicios .div__conteiner__logos .div__img .servicios__p {
  font-size: 1em;
  padding-top: 3vh;
  color: rgb(252, 252, 252);
  margin: 0 10%;
}

footer .footer__row {
  background-color: rgb(5, 5, 5);
}
footer .footer__row div {
  text-align: center;
}
footer .footer__row div .footer__div__img {
  text-align: center;
}
footer .footer__row div h5 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}
footer .footer__row div .div__telefonos {
  display: flex;
  justify-content: center;
  list-style: none;
}
footer .footer__row div .div__telefonos .telefonos__div__li {
  border-right: solid 1px grey;
  padding-right: 1em;
  opacity: 0.9;
}
footer .footer__row div .div__telefonos .telefonos__div__li a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 1em;
}
footer .footer__row div .div__telefonos .telefonos__div__li a:hover {
  color: rgb(35, 165, 217);
}
footer .footer__row div .div__telefonos .telefonos__div--li {
  padding-left: 1em;
  opacity: 0.9;
}
footer .footer__row div .div__telefonos .telefonos__div--li a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 1em;
}
footer .footer__row div .div__telefonos .telefonos__div--li a:hover {
  color: rgb(35, 165, 217);
}
footer .footer__row div h5 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}
footer .footer__row div .div__redes {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
footer .footer__row div .div__redes li {
  padding: 0 1em;
}
footer .footer__row div .div__redes li a img {
  height: 30px;
  width: 30px;
}
footer .footer__row div .div__redes li a img:hover {
  transform: scale(1.1, 1.1);
}
footer .footer__row div h5 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}
footer .footer__row div .footer__div__formulario {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
footer .footer__row div .footer__div__formulario button:hover {
  background-color: rgb(35, 165, 217);
  transform: scale(1.01, 1.01);
}

.footer__copy {
  margin-bottom: 0;
  color: black;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 22px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}
.whatsapp .whatsapp-icon {
  margin-top: 14px;
}

.question {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 90px;
  right: 10px;
  text-align: center;
  z-index: 200;
}
.question .img__question {
  width: 100%;
  height: 100%;
}

.main--productos .productos--h3 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  padding: 4vh;
  color: rgb(35, 165, 217);
}
.main--productos .container-fluid-productos:nth-child(2) {
  border-bottom: solid 2px rgba(179, 179, 179, 0.3);
  background-image: linear-gradient(to bottom, #ffffff, #e7f3ff);
}
.main--productos .container-fluid-productos:nth-child(2) div .productos__termicos__h4 {
  text-align: center;
  font-size: 1.8em;
  padding-top: 30px;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(2) .row__termicos .container__termico .div__conteiner__img {
  height: 400px;
  text-align: end;
}
@media screen and (max-width: 850px) {
  .main--productos .container-fluid-productos:nth-child(2) .row__termicos .container__termico .div__conteiner__img {
    text-align: center;
  }
}
.main--productos .container-fluid-productos:nth-child(2) .row__termicos .container__termico .div__conteiner__img .termicos--img {
  height: 100%;
  width: auto;
  border-radius: 20px;
}
.main--productos .container-fluid-productos:nth-child(2) .row__termicos .div__acordeon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main--productos .container-fluid-productos:nth-child(2) .row__termicos .div__acordeon .acordeon__container {
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
}
.main--productos .container-fluid-productos:nth-child(2) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(2) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(2) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(2) .row__termicos .div__acordeon .productos__div__buttom {
  text-align: center;
  padding-top: 1em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(3) {
  background-color: rgba(35, 165, 217, 0.178);
}
.main--productos .container-fluid-productos:nth-child(3) div .productos__termicos__h4 {
  text-align: center;
  font-size: 1.8em;
  padding-top: 30px;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(3) .row__termicos .container__termico .div__conteiner__img {
  height: 400px;
  text-align: end;
}
@media screen and (max-width: 850px) {
  .main--productos .container-fluid-productos:nth-child(3) .row__termicos .container__termico .div__conteiner__img {
    text-align: center;
  }
}
.main--productos .container-fluid-productos:nth-child(3) .row__termicos .container__termico .div__conteiner__img .termicos--img {
  height: 100%;
  width: auto;
  border-radius: 20px;
}
.main--productos .container-fluid-productos:nth-child(3) .row__termicos .div__acordeon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main--productos .container-fluid-productos:nth-child(3) .row__termicos .div__acordeon .acordeon__container {
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
}
.main--productos .container-fluid-productos:nth-child(3) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(3) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(3) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(3) .row__termicos .div__acordeon .productos__div__buttom {
  text-align: center;
  padding-top: 1em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(4) {
  background-color: rgba(102, 102, 102, 0.082);
}
.main--productos .container-fluid-productos:nth-child(4) div .productos__termicos__h4 {
  text-align: center;
  font-size: 1.8em;
  padding-top: 30px;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(4) .row__termicos .container__termico .div__conteiner__img {
  height: 400px;
  text-align: end;
}
@media screen and (max-width: 850px) {
  .main--productos .container-fluid-productos:nth-child(4) .row__termicos .container__termico .div__conteiner__img {
    text-align: center;
  }
}
.main--productos .container-fluid-productos:nth-child(4) .row__termicos .container__termico .div__conteiner__img .termicos--img {
  height: 100%;
  width: auto;
  border-radius: 20px;
}
.main--productos .container-fluid-productos:nth-child(4) .row__termicos .div__acordeon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main--productos .container-fluid-productos:nth-child(4) .row__termicos .div__acordeon .acordeon__container {
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
}
.main--productos .container-fluid-productos:nth-child(4) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(4) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(4) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(4) .row__termicos .div__acordeon .productos__div__buttom {
  text-align: center;
  padding-top: 1em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(5) {
  background-color: rgba(35, 165, 217, 0.178);
  margin-bottom: 100px;
}
.main--productos .container-fluid-productos:nth-child(5) div .productos__termicos__h4 {
  text-align: center;
  font-size: 1.8em;
  padding-top: 30px;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(5) .row__termicos .container__termico .div__conteiner__img {
  height: 400px;
  text-align: end;
}
@media screen and (max-width: 850px) {
  .main--productos .container-fluid-productos:nth-child(5) .row__termicos .container__termico .div__conteiner__img {
    text-align: center;
  }
}
.main--productos .container-fluid-productos:nth-child(5) .row__termicos .container__termico .div__conteiner__img .termicos--img {
  height: 100%;
  width: auto;
  border-radius: 20px;
}
.main--productos .container-fluid-productos:nth-child(5) .row__termicos .div__acordeon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main--productos .container-fluid-productos:nth-child(5) .row__termicos .div__acordeon .acordeon__container {
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
}
.main--productos .container-fluid-productos:nth-child(5) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(5) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(5) .row__termicos .div__acordeon .acordeon__container .accordion-item h2 button {
  font-size: 0.65em;
  font-family: "Source Sans Pro", sans-serif;
}
.main--productos .container-fluid-productos:nth-child(5) .row__termicos .div__acordeon .productos__div__buttom {
  text-align: center;
  padding-top: 1em;
  font-family: "Source Sans Pro", sans-serif;
}

.empresa--conteiner {
  display: flex;
  margin: 4% 5%;
}
.empresa--conteiner div {
  margin-right: 10%;
}
@media screen and (max-width: 830px) {
  .empresa--conteiner div .empresa--conteiner__presentacion {
    margin: 0;
  }
}
.empresa--conteiner div h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  color: rgb(35, 165, 217);
  font-size: 2em;
  margin-bottom: 10%;
}
.empresa--conteiner div h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  margin-bottom: 1%;
}
.empresa--conteiner div p {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10%;
  font-size: 1.1em;
  line-height: 30px;
}
.empresa--conteiner div h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  margin-bottom: 1%;
}
.empresa--conteiner div p {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10%;
  font-size: 1.1em;
  line-height: 30px;
}
.empresa--conteiner .div__img__conteiner {
  display: flex;
  justify-content: end;
  height: 620px;
  margin-right: 0;
}
@media screen and (max-width: 830px) {
  .empresa--conteiner .div__img__conteiner .div__img__conteiner {
    display: none;
  }
}
.empresa--conteiner .div__img__conteiner img {
  width: auto;
  height: 100%;
}
@media screen and (max-width: 920px) {
  .empresa--conteiner .div__img__conteiner img {
    display: none;
  }
}

.dudas__div__container {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 780px) {
  .dudas__div__container {
    flex-direction: column;
  }
}
.dudas__div__container div {
  width: 50%;
}
@media screen and (max-width: 781px) {
  .dudas__div__container div {
    text-align: start;
    width: 100%;
  }
}
.dudas__div__container div h4 {
  font-size: 1.6em;
  font-family: "Source Sans Pro", sans-serif;
  margin: 1em 0;
  color: rgb(35, 165, 217);
}
.dudas__div__container div li {
  font-size: 1.2em;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 1rem;
}
.dudas__div__container div p {
  margin-left: 1.5rem;
  font-size: 1em;
  padding-bottom: 1rem;
}

.contacto__h3 {
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-top: 30px;
}

.input__mensaje {
  min-height: 130px;
}

.formulario__div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(35, 165, 217);
  border-radius: 5px;
}
.formulario__div h5 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
}
.formulario__div .formulario__li, .formulario__div .formulario__p_, .formulario__div .formulario__p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}
.formulario__div .formulario__p {
  background-color: pink;
  margin-left: -0.5em;
  margin-right: -0.5em;
}
/* MEDIA QUERRIEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEES */
@media screen and (max-width: 830px) {
  .section__div__h3 {
    order: -10;
  }
}
@media screen and (max-width: 830px) {
  .section__div__img {
    height: 65%;
    justify-content: center;
  }
}
@media screen and (max-width: 830px) {
  .section__div__p {
    margin-bottom: 0;
    text-align: center;
    place-self: center;
  }
}
/* MEDIA SERVICIOS */
@media screen and (max-width: 830px) {
  .div__conteiner__logos {
    flex-direction: column;
    margin: 0;
  }
}